.jumbotron-image {
    background-image: url("../images/all_fresh_vegetables.jpg");
    background-size: cover;
}

/* 
Another way of putting it is:

h1 is   32px   (2em)
h2 is   24px (1.5em)
h3 is 20.8px (1.3em)
h4 is   16px   (1em)
h5 is 12.8px (0.8em)
h6 is 11.2px (0.7em)

*/

/* Large desktop */
@media (min-width: 1200px) {
  
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .heading {
    font-size: 40px;
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .heading {
    font-size: 40px;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  } ;
  .heading {
    font-size: 40px;
  }
}